<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="MyMSSql"	providerName = "System.Data.SqlClient" connectionString="Data Source=MSI;Initial Catalog=Storage;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
		<add name ="MyNpgSql" providerName="Npgsql" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=mavezo0984817114;Database=Storage;"/>
	</connectionStrings>
</configuration>